body{
  font-family: 'Schoolbell', cursive;
}
.niceText{
  font-family: 'Schoolbell', cursive  !important;
  color: #f197ba;
}
.Site {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}
.Site-content {
 flex: 1 0 auto;
 padding: var( — space) var( — space) 0;
 width: 100%;
}
.Site-content:after {
 content: ‘\00a0’;
 display: block;
 margin-top: var( — space);
 height: 0;
 visibility: hidden;
}

.test{
    margin-top: 100px;
    margin-left: 80px;
}
.canterd{
    text-align: center;
}
.cartText{
    margin-top: 55px;
    font-size: 20px;
}
.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  
  
  .container-fluid .btn {
    font-family: 'Schoolbell', cursive;
    width: 200px;
    height: 70px;
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:hotpink;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container-fluid .btn:hover {
    background-color: black;
  }
  .addbtn{
    font-family: 'Schoolbell', cursive  !important;
    background-color: hotpink;
    width: 170px;
    margin-left: 60%;
    height: 40px;
    font-family: 'Marcellus SC', serif;
  }
  .brand-logo img {
    height: 64px;
}
.cancelbtn{
  background-color: red !important;
  margin-right: 5px;
}
.price{
 font-size: 20px;
  color: #f197ba; 
}
.itemName {
  font-size:40px;
}
  @media (max-width: 500px) {
    .brand-logo img {
      height: 56px;
    }
    .container-fluid .btn{
      font-size: 15px;
      width: 140px;
      height: 40px;
      top: 55%;
      display: flex;
      left: 50%;
      display: flex;
      justify-content: center;
    }
    .shopByType{
      font-size: 40px;
      text-align: center;
      margin-left: 85px;
      margin-top: 50px;
      margin-bottom: -10px;
    }
    .addbtn{
      width: 100px;
      margin-left: 35%;
    }
    .itemName{
      font-size: 20px;
    }
    
  }
  @media (max-width: 380px){
    .container-fluid .btn{
      font-size: 15px;
      width: 140px;
      height: 40px;
      top: 60%;
      display: flex;
      left: 50%;
      display: flex;
      justify-content: center;

    }
    .shopByType{
      font-size: 30px;
      text-align: center;
      margin-left: 75px;
    }
    .brand-logo img {
      height: 56px;
    }
    .addbtn{
      width: 30px;
    }
  }